.button {
	height: 48px;
	padding: 0 20px;
	background: var(--green);
	text-align: center;
	cursor: pointer;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	transition: all .3s linear;
	border: 2px solid transparent;

	&:hover {
		background: transparent;
		border-color: var(--green);

		.dark-box & {
			color: var(--white);
		}
	}
}

.button--border {
	height: 56px;
	padding: 0 24px;
	background: transparent;
	border: 2px solid var(--green);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;

	&:hover {
		border-color: transparent;
		background: var(--green);
	}
}