.consultant-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	&__img {
		width: 80px;
		height: 80px;
		overflow: hidden;
		border-radius: 50%;

		@include tablet {
			width: 64px;
			height: 64px;
		}
	}

	&__content {
		margin-left: 16px;
	}

	&__name {
		margin-bottom: 4px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}

	&__caption {
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
	}
}