.form-box {

	&__item {
		margin-bottom: 24px;

		.modal-form & {
			margin-bottom: 4px;
		}
	}

	&__input {
		height: 56px;
		width: 100%;
		padding: 0 24px;
		background: none;
		color: var(--dark);
		border: 2px solid var(--dark-alpha20);

		&::placeholder {
			opacity: 0;
		}

		&.just-validate-error-field {
			border-color: #F61A4F;
		}

		&:focus {
			outline: none;
			border-color: #0BBF9F;
		}
	}

	&__label {
		position: relative;
		padding: 0 24px;
		display: inline-block;
		cursor: text;
		transform: translateY(40px);
		transition: all .2s linear;

		.active & {
			top: 0;
			transform: scale(.8, .8) translateY(10px);
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			color: var(--dark-alpha56);
			background: var(--white);
		}
	}

	&__button {
		width: 100%;

		.modal-form & {
			margin-top: 40px;
		}
	}

	&__policy {
		margin-top: 16px;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: var(--dark-alpha56);

		b {
			color: var(--dark);
		}

		a {
			color: var(--green);
		}
	}
}

.just-validate-error-label {
	margin-top: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #F61A4F !important;
}