.form-box {

	&__item {
		position: relative;
		margin-bottom: 24px;
	}

	&__input {
		height: 56px;
		width: 100%;
		padding: 0 24px;
		background: none;
		color: var(--dark);
		border: 2px solid var(--dark-alpha20);

		&::placeholder {
			opacity: 0;
		}

		&.just-validate-error-field {
			border-color: #F61A4F;
			margin-bottom: 20px;
		}

		&.just-validate-error-field + label {
			top: calc(50% - 58px);
		}

		&:focus {
			outline: none;
			border-color: #0BBF9F;
		}
	}

	&__label {
		position: absolute;
		top: calc(50% - 48px);
		left: 10px;
		padding: 0 10px;
		display: inline-block;
		cursor: text;
		transform: translateY(40px);
		transition: all .2s linear;
		color: var(--dark-alpha56);

		.active & {
			top: -16px !important;
			transform: scale(.8, .8) translateY(10px);
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			color: var(--dark-alpha56);
			background: var(--white);
		}
	}

	&__button {
		width: 100%;

		@include tablet {
			height: 56px;
		}

		.modal-form & {
			margin-top: 18px;
		}
	}

	&__policy {
		margin-top: 16px;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: var(--dark-alpha56);

		b {
			color: var(--dark);
		}

		a {
			color: var(--green);
		}
	}
}

.just-validate-error-label {
	bottom: -5px;
	left: 0;
	position: absolute;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #F61A4F !important;
}