.root-banner {
	height: 100vh;

	@include tablet {
		height: 80vh;
		margin-top: 72px;
	}

	.container {
		position: relative;
	}

	.swiper-pagination {
		text-align: left;
		bottom: 80px;
		left: 121px;

		@include tablet {
			left: 0;
			text-align: center;
			bottom: 20px;
		}
	}

	.swiper-pagination-bullet {
		width: 56px;
		height: 2px;
		border-radius: 0;
		background: var(--green);
	}

	.swiper-pagination-bullet:before {
		height: 2px;
		width: 100%;
		position: relative;
		top: 10px;
		background: rgba(255, 255, 255, 0.2);
		transition: background 300ms ease;
	}

	.swiper-pagination-bullet-active {
		background: transparent;
		transform: translateY(0);

		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			content: '';
			display: block;
			background: var(--white-alpha20);
			z-index: 1;
		}

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			content: '';
			display: block;
			background: var(--white);
			animation: progressBar 4s linear forwards;
			z-index: 2;
		}
	}

}

.root-banner__item {
	position: relative;

	@include tablet {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.container {
		height: 100%;
		width: 100%;

		@include tablet {
			height: auto;
			margin-top: auto;
		}
	}

}

.root-banner__item-img {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 564px;
	overflow: hidden;
	object-fit: cover;
	opacity: 0;
	transform: translateX(50px);
	transition: all .3s linear;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #05362B;
		opacity: 0.24;
		content: '';
	}

	@include md-desktop {
		max-width: 400px;
	}

	@include tablet {
		position: relative;
		margin-top: 40px;
		max-width: 100%;
		height: 200px;
	}
}

.root-banner__item-content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	@include tablet {
		margin-top: 0;
	}
}

.root-banner__item-caption {
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	color: var(--white-alpha56);

	@include tablet {
		font-size: 14px;
	}
}

.root-banner__no-slider {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	left: 0;
	bottom: 50px;
	height: 100%;
	width: 100%;

	@include tablet {
		top: 50px;
		bottom: auto;
		justify-content: flex-start;
	}

	.container {
		width: 100%;
	}
}

.root-banner__item-title {
	max-width: 660px;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 62px;
	line-height: 78px;
	background: linear-gradient(141.14deg, #0BBF9F -56.2%, #FFFFFF 134.56%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	@include md-desktop {
		max-width: 500px;
		font-size: 48px;
		line-height: 55px;
	}

	@include tablet {
		margin-bottom: 24px;
		font-size: 32px;
		line-height: 40px;
	}
}

.root-banner__item-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 1px solid var(--white-alpha20);
	height: 80px;
	border-radius: 60px;
	padding: 0 32px;
	color: var(--white);
	font-weight: 500;
	font-size: 32px;
	font-style: italic;
	opacity: 0;
	transform: translateY(50px);
	transition: all .3s linear;

	@include tablet {
		height: 62px;
		font-size: 20px;
	}
}

.swiper-slide-active {
	.root-banner__item-img,
	.root-banner__item-button {
		opacity: 1;
		transform: translate(0, 0);
		transition-delay: .5s;
	}
}