.steps-list {
	&__title {
		margin-top: 32px;
		margin-bottom: 40px;
		font-weight: 600;
		font-size: 24px;
		line-height: 34px;

		@include tablet {
			margin-top: 16px;
			margin-bottom: 22px;
			font-size: 20px;
			line-height: 30px;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 -24px;

		@include small-tablet {
			margin: 0;
			flex-direction: column;
		}
	}

	&__item {
		flex: 0 0 auto;
		padding: 0 24px;
		width: 50%;

		@include small-tablet {
			width: 100%;
			padding: 0;
		}

		&:nth-child(1),
		&:nth-child(2) {
			.steps-list__item-content {
				border-top: 2px solid var(--green);

				@include small-tablet {
					border-top: 0;
				}
			}
		}

		&:nth-child(1) {
			@include small-tablet {
				border-top: 2px solid var(--green);
			}
		}
	}

	&__item-content {
		padding: 40px 0;
		border-bottom: 2px solid var(--green);

		@include tablet {
			padding: 24px 0;
		}
	}

	&__count {
		margin-bottom: 16px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: var(--dark-alpha56);

		@include tablet {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;

		@include tablet {
			font-size: 16px;
			line-height: 24px;
		}
	}
}