<div class="root-about section">
    <div class="container">
        <div class="root-about__wrapper">
            <div class="root-about__left">
                <div class="root-about__title" data-text-anim data-aos="custom" data-aos-once="true">
                    О компании СмартСтройИнвест
                </div>
                <p data-text-anim data-aos="custom" data-aos-once="true" class="js-content">
                    Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                    текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
                    размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно
                    пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                </p>
                <span class="toggle-link js-link-trigger-container">
                    <span class="toggle-link__show">Читать полностью</span>
                    <span class="toggle-link__hide">Скрыть</span>
                    <i class="toggle-link__arrow">
                        <svg viewBox="0 0 8 12" fill="none">
                            <use xlink:href="/img/sprite.svg#arrow-r"></use>
                        </svg>
                    </i>
                </span>
                <button class="button button--border hide-lg">
                    <span class="button__hover"></span>
                    <span class="button__text">Подробнее</span>
                </button>
            </div>
            <div class="root-about__right js-about-achiev-list">
                <div class="about-achiev root-about__about-achiev">
                    <div class="about-achiev__row">
                        <div class="about-achiev__count odometer odometer1">0</div>
                        <div class="about-achiev__caption">лет</div>
                    </div>
                    <div class="about-achiev__text">Работаем на рынке</div>
                </div>
                <div class="about-achiev root-about__about-achiev">
                    <div class="about-achiev__row">
                        <div class="about-achiev__count odometer odometer2">0</div>
                        <div class="about-achiev__caption">млн кв. м</div>
                    </div>
                    <div class="about-achiev__text">Введено и строится при нашей поддержке
                    </div>
                </div>
                <div class="about-achiev root-about__about-achiev">
                    <div class="about-achiev__row">
                        <div class="about-achiev__count odometer odometer3">0</div>
                        <div class="about-achiev__caption">компаний</div>
                    </div>
                    <div class="about-achiev__text">Стали нашими клиентами</div>
                </div>
            </div>
            <button class="button button--border hide-lg-up">
                <span class="button__hover"></span>
                <span class="button__text">Подробнее</span>
            </button>
        </div>
    </div>
</div>
<div class="separator"></div>