<div class="about section content">
    <div class="container">
        <div class="about__wrapper">
            <div class="about__top" data-text-anim data-aos="custom">
                <h1> О компании СмартСтройИнвест</h1>
                <p>
                    Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                    "рыбой"
                    для
                    текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
                    размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                    успешно
                    пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                </p>
            </div>
            <div class="about__banner" data-aos="fade-up" data-aos-delay="200">
                <div class="about__banner-text">
                    Работаем так, чтобы вам не пришлось сомневаться в выборе
                </div>
            </div>
            <div class="about__achiev">
                <div class="about-achiev"  data-aos="fade-up" data-aos-delay="400">
                    <div class="about-achiev__row">
                        <div class="about-achiev__count odometer odometer1">0</div>
                        <div class="about-achiev__caption">лет</div>
                    </div>
                    <div class="about-achiev__text">Работаем на рынке</div>
                </div>
                <div class="about-achiev"  data-aos="fade-up" data-aos-delay="600">
                    <div class="about-achiev__row">
                        <div class="about-achiev__count odometer odometer2">0</div>
                        <div class="about-achiev__caption">млн кв. м</div>
                    </div>
                    <div class="about-achiev__text">Введено и строится при нашей поддержке
                    </div>
                </div>
                <div class="about-achiev"  data-aos="fade-up" data-aos-delay="800">
                    <div class="about-achiev__row">
                        <div class="about-achiev__count odometer odometer3">0</div>
                        <div class="about-achiev__caption">компаний</div>
                    </div>
                    <div class="about-achiev__text">Стали нашими клиентами</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>