<div class="accordion" data-aos="fade-up" data-aos-delay="200">
    <div class="accordion-item active">
        <button id="accordion-button-1"
                class="accordion-item__header"
                aria-expanded="true">
            <span class="accordion-title">Инвестиции</span>
            <span class="accordion-count">1</span>
        </button>
        <div class="accordion-content">
            <img src="/img/bg-page-top.png" alt="">
            <div class="accordion-content__wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
                <button class="button button--border">Подробнее</button>
                <button class="button button--56">Получить консультацию</button>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button id="accordion-button-2"
                class="accordion-item__header"
                aria-expanded="false">
            <span class="accordion-title">Управление</span>
            <span class="accordion-count">2</span>
        </button>
        <div class="accordion-content">
            <img src="/img/bg-page-top.png" alt="">
            <div class="accordion-content__wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
                <button class="button button--border">Подробнее</button>
                <button class="button button--56">Получить консультацию</button>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button id="accordion-button-3"
                class="accordion-item__header"
                aria-expanded="false">
            <span class="accordion-title">Аналитика</span>
            <span class="accordion-count">3</span>
        </button>
        <div class="accordion-content">
            <img src="/img/bg-page-top.png" alt="">
            <div class="accordion-content__wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
                <button class="button button--border">Подробнее</button>
                <button class="button button--56">Получить консультацию</button>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button id="accordion-button-4"
                class="accordion-item__header"
                aria-expanded="false">
            <span class="accordion-title">Маркетинг</span>
            <span class="accordion-count">4</span>
        </button>
        <div class="accordion-content">
            <img src="/img/bg-page-top.png" alt="">
            <div class="accordion-content__wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
                <button class="button button--border">Подробнее</button>
                <button class="button button--56">Получить консультацию</button>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button id="accordion-button-5"
                class="accordion-item__header"
                aria-expanded="false">
            <span class="accordion-title">Строительство</span>
            <span class="accordion-count">5</span>
        </button>
        <div class="accordion-content">
            <img src="/img/bg-page-top.png" alt="">
            <div class="accordion-content__wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
                <button class="button button--border">Подробнее</button>
                <button class="button button--56">Получить консультацию</button>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button id="accordion-button-6"
                class="accordion-item__header"
                aria-expanded="false">
            <span class="accordion-title">Брокеридж</span>
            <span class="accordion-count">6</span>
        </button>
        <div class="accordion-content">
            <img src="/img/bg-page-top.png" alt="">
            <div class="accordion-content__wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
                <button class="button button--border">Подробнее</button>
                <button class="button button--56">Получить консультацию</button>
            </div>
        </div>
    </div>
</div>