<div class="section с4555">
    <div class="content">
        <div class="container">
            <div class="с4555__wrapper">
                <div class="с4555__l45">
                    <div class="с4555__img" data-aos="fade-up" data-aos-once="true">
                        <img src="/img/man@x2.png" alt=" Oнлайн консультация от эксперта">
                    </div>
                </div>
                <div class="с4555__r55" data-text-anim data-aos="custom" data-aos-once="true">
                    <div class="с4555__title">
                        Oнлайн консультация
                        от эксперта
                    </div>
                    <div class="с4555__under-title">
                        Наш специалист Александр поможет вам ..... далее краткое описание
                        что и в каких вопросах вам помогут с консультацией.
                    </div>
                    <div class="с4555__button">
                        <a href="##" class="button">
                            <span class="button__hover"></span>
                            <span class="button__text">Получить консультацию</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>