<div class="content">
    <div class="content__wrapper">
        <div class="content__left">
            <div class="to-back">
                <a href="##" class="to-back__link">
                    <i class="to-back__link-arrow">
                        <svg viewBox="0 0 8 12" fill="none">
                            <use xlink:href="/img/sprite.svg#arrow-r"></use>
                        </svg>
                    </i>
                    Вернуться Назад
                </a>
            </div>
            <h2>H2 Стратегические сессии: как за несколько часов принимаются определяющие решения в четыре строки</h2>
            <div class="content__top">
                <div class="view-box">
                    <div class="view-box__date">22 декабря 2022</div>
                    <div class="view-box__read-time">10 мин.</div>
                    <div class="view-box__read-view read-view">
                        <i class="read-view__icon">
                            <svg viewBox="0 0 16 16">
                                <use xlink:href="/img/sprite.svg#view"></use>
                            </svg>
                        </i>
                        <span class="read-view__count">1456</span>
                    </div>
                </div>
                <div class="share">
                    <div class="share__text">Поделиться:</div>
                    <a href="##" class="share__link">
                        <img src="/img/tw.svg" alt="">
                    </a>
                    <a href="##" class="share__link">
                        <img src="/img/fb.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="content__big-img">
                <img src="/img/img-content.jpg" alt="">
            </div>
            <h3>Заголовок</h3>
            <p>
                Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
                размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </p>
            <p>
                Часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
                латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и
                форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
                заметных изменений пять веков, но и перешагнул в электронный дизайн.
            </p>
            <div class="img50">
                <img src="/img/img-content.jpg" alt="">
                <img src="/img/img-content.jpg" alt="">
            </div>
            <h3>H3 Заголовок (нумерация)</h3>
            <p>
                Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
                размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </p>
            <ol>
                <li>Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с начала XVI века.
                </li>
                <li>Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с начала XVI века.
                    <ol>
                        <li>Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.
                        </li>
                        <li>Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.
                        </li>
                    </ol>
                </li>
            </ol>
            <h3>H3 Заголовок (буллеты)</h3>
            <p>
                Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
                размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </p>
            <ul>
                <li>
                    Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с начала XVI века.
                </li>
                <li>
                    Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с начала XVI века.
                </li>
            </ul>
            <blockquote>
                “Это текст — рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
                размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.”
            </blockquote>

            <h4>
                H4 Заголовок (документы)
            </h4>
            <div class="file">
                <a href="##" class="file__link">
                    <span class="file__icon">
                          <i></i>
                    </span>
                    <div class="file__content">
                        <span class="file__title">Название документа</span>
                        <span class="file__caption">pdf, 146 kb</span>
                    </div>
                </a>
            </div>
            <div class="file">
                <a href="##" class="file__link">
                    <span class="file__icon">
                          <i></i>
                    </span>
                    <div class="file__content">
                        <span class="file__title">Название документа</span>
                        <span class="file__caption">pdf, 146 kb</span>
                    </div>
                </a>
            </div>
            <div class="file">
                <a href="##" class="file__link">
                    <span class="file__icon">
                          <i></i>
                    </span>
                    <div class="file__content">
                        <span class="file__title">Название документа</span>
                        <span class="file__caption">pdf, 146 kb</span>
                    </div>
                </a>
            </div>
            <h4>H4 Заголовок (таблица)</h4>
            <div class="table">
            <table>
                <tr>
                    <th>Подзаголовок</th>
                    <th>Подзаголовок</th>
                    <th>Подзаголовок</th>
                    <th>Подзаголовок
                        в две строки
                    </th>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td>текст</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td>текст</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td>текст</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="content__right">
            <div class="other-news">
                <div class="other-news__title">Другие новости</div>
                <div class="other-news__list">
                    <a href="##" class="other-news__item">
                        Стратегические сессии: как за несколько часов принимаются определяющие решения длинное длинное в
                        четыре строки
                    </a>
                    <a href="##" class="other-news__item">
                        Стратегические сессии: как за несколько часов принимаются определяющие решения.
                    </a>
                    <a href="##" class="other-news__item">
                        Стратегические сессии: как за несколько часов принимаются определяющие решения.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>