<div class="cookie-popup">
    <div class="cookie-popup__wrapper">
        <div class="cookie-popup__icon">
            <svg viewBox="0 0 64 64">
                <use xlink:href="/img/sprite.svg#cookie"></use>
            </svg>
        </div>
        <div class="cookie-popup__content content">
            <p class="cookie-popup__text">
                Продолжая использование сайта <a href="##">www.site.com</a>, я соглашаюсь с использованием файлов cookie
                в соответствии с
                <a href="##">политикой использования</a> cookie, включая передачу данных, определенных в политике,
                третьим лицам.
            </p>
            <button class="button">
                <span class="button__hover"></span>
                <span class="button__text">Все понятно</span>
            </button>
        </div>
    </div>
</div>