<div class="menu-modal" data-menu>
    <div class="menu-modal__top">
        <div class="container">
            <div class="menu-modal__logo"></div>
        </div>
    </div>
    <div class="container">
        <div class="menu-modal__wrapper">
            <div class="menu-modal__col">
                <ul class="menu-modal__list">
                    <li class="menu-modal__item">
                        <a href="/" class="menu-modal__link">Главная</a>
                    </li>
                    <li class="menu-modal__item menu-modal__item-submenu" data-submenu-trigger="true">
                        <a href="/" class="menu-modal__link">Компания</a>
                        <ul class="menu-modal__submenu" data-submenu>
                            <li class="menu-modal__submenu-item">
                                <a href="##" class="menu-modal__submenu-link">Компания 1</a>
                            </li>
                            <li class="menu-modal__submenu-item">
                                <a href="##" class="menu-modal__submenu-link">Компания 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-modal__item" data-submenu-trigger="false">
                        <a href="/services/" class="menu-modal__link">Услуги</a>
                    </li>
                    <li class="menu-modal__item menu-modal__item-submenu" data-submenu-trigger="true">
                        <a href="/" class="menu-modal__link">Проекты</a>
                        <ul class="menu-modal__submenu" data-submenu>
                            <li class="menu-modal__submenu-item">
                                <a href="##" class="menu-modal__submenu-link">Услуги</a>
                            </li>
                            <li class="menu-modal__submenu-item">
                                <a href="##" class="menu-modal__submenu-link">Услуги 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-modal__item">
                        <a href="/" class="menu-modal__link">Объекты в управлении</a>
                    </li>
                </ul>
            </div>
            <div class="menu-modal__col">
                <div class="contact">
                    <div class="contact__col-title">Адрес офиса</div>
                    <div class="contact__address">
                        <div>г. Брест, ул. Дзержинского 38</div>
                        <div><span>пн-пт</span> 9:00-20:00</div>
                        <div><span>сб, вс</span> выходной</div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contact__col-title">Контакты</div>
                    <div class="contact__links-contact">
                        <a href="tel:+375 29 201 33 77" class="phone">+375 29 201 33 77</a>
                        <a href="tel:+375 29 000 00 00" class="phone">+375 29 000 00 00</a>
                        <a href="mailto:ab_smart@mail.ru" class="mail">ab_smart@mail.ru</a>
                    </div>
                </div>
            </div>
            <div class="menu-modal__col">
                <div class="contact">
                    <div class="contact__col-title">Заказ звонка</div>
                    <div class="contact__order">
                        <p>Закажите звонок и мы перезвоним Вам для решения задачи</p>
                        <button class="contact__button button js-open-modal-feedback">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>