<div class="modal">
    <div class="modal__overlay js-modal-close"></div>
    <div class="modal__content">
        <span class="modal__close js-modal-close">
             <svg viewBox="0 0 16 16">
                <use xlink:href="/img/sprite.svg#close"></use>
            </svg>
        </span>
        <div class="modal__title">Закажите звонок</div>
        <div class="modal__under-title">Для получения одной из наших услуг, заполните поля ниже и выберете нужную услугу в списке.</div>
        <div class="modal-form">
            <div class="form-box">
                <form action="" class="form-box__form js-form-modal">
                    <div class="form-box__item">
                        <input id="username" name="name" class="form-box__input name" type="text" placeholder="Ваше имя">
                        <label class="form-box__label" for="username">Ваше имя</label>
                    </div>
                    <div class="form-box__item">
                        <input id="phone" name="phone" class="form-box__input phone" type="tel" placeholder="Ваш телефон">
                        <label class="form-box__label" for="phone">Ваш телефон</label>
                    </div>
                    <div class="form-box__item">
                        <div class="dropdown-select">
                            <label class="dropdown-select__label">Выберите услугу</label>
                            <input class="dropdown-select__input" type="text" placeholder="Выберите услугу" readonly/>
                            <ul class="options">
                                <li class="option">UI Design</li>
                                <li class="option">HTML</li>
                                <li class="option">CSS</li>
                                <li class="option">JS</li>
                            </ul>
                        </div>
                    </div>
                    <button class="form-box__button button">
                        <span class="button__hover"></span>
                        <span class="button__text">Отправить</span>
                    </button>
                    <div class="form-box__policy">
                        Нажимая на кнопку <b>«Отправить»</b>,
                        я соглашаюсь с условиями политики <a href="##">конфиденциальности.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal modal--success">
    <div class="modal__overlay js-modal-close"></div>
    <div class="modal__content">
        <span class="modal__close js-modal-close">
             <svg viewBox="0 0 16 16">
                <use xlink:href="/img/sprite.svg#close"></use>
            </svg>
        </span>
        <div class="modal__img" style="background-image: url('/img/bg-page-top.png');"></div>
        <div class="modal__title">Спасибо! Данные успешно отправлены</div>
        <div class="modal__under-title">
            Наш менеджер свяжется с вами в ближайшее время
        </div>
        <button class="button js-modal-close">
            <span class="button__hover"></span>
            <span class="button__text">Все понятно</span>
        </button>
    </div>
</div>