<div class="section">
    <div class="content">
        <div class="container">
            <div class="content__title-box" data-text-anim data-aos="custom">
                <h2>Новости</h2>
                <a href="##" class="link-more">
                    Все новости
                    <i class="link-more__arrow">
                        <svg viewBox="0 0 8 12" fill="none">
                            <use xlink:href="/img/sprite.svg#arrow-r"></use>
                        </svg>
                    </i>
                </a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="container">
            <div class="news">
                <div class="swiper-container js-news-slider">
                    <div class="swiper-wrapper grid-list">
                        <a href="##" class="swiper-slide grid-list__item">
                            <div class="grid-list__item-img">
                                <img src="/img/news-prev.png" alt="">
                            </div>
                            <div class="grid-list__item-content">
                                <div class="view-box">
                                    <div class="view-box__date">22 декабря 2022</div>
                                    <div class="view-box__read-time">10 мин.</div>
                                    <div class="view-box__read-view read-view">
                                        <i class="read-view__icon">
                                            <svg viewBox="0 0 16 16">
                                                <use xlink:href="/img/sprite.svg#view"></use>
                                            </svg>
                                        </i>
                                        <span class="read-view__count">1456</span>
                                    </div>
                                </div>
                                <p>Стратегические сессии: как за несколько часов принимаются определяющие решения в четыре
                                    строки</p>
                            </div>
                        </a>
                        <a href="##" class="swiper-slide grid-list__item">
                            <div class="grid-list__item-img">
                                <img src="/img/news-prev.png" alt="">
                            </div>
                            <div class="grid-list__item-content">
                                <div class="view-box">
                                    <div class="view-box__date">22 декабря 2022</div>
                                    <div class="view-box__read-time">10 мин.</div>
                                    <div class="view-box__read-view read-view">
                                        <i class="read-view__icon">
                                            <svg viewBox="0 0 16 16">
                                                <use xlink:href="/img/sprite.svg#view"></use>
                                            </svg>
                                        </i>
                                        <span class="read-view__count">1456</span>
                                    </div>
                                </div>
                                <p>Стратегические сессии: как за несколько часов принимаются определяющие решения в четыре
                                    строки</p>
                            </div>
                        </a>
                        <a href="##" class="swiper-slide grid-list__item">
                            <div class="grid-list__item-img">
                                <img src="/img/news-prev.png" alt="">
                            </div>
                            <div class="grid-list__item-content">
                                <div class="view-box">
                                    <div class="view-box__date">22 декабря 2022</div>
                                    <div class="view-box__read-time">10 мин.</div>
                                    <div class="view-box__read-view read-view">
                                        <i class="read-view__icon">
                                            <svg viewBox="0 0 16 16">
                                                <use xlink:href="/img/sprite.svg#view"></use>
                                            </svg>
                                        </i>
                                        <span class="read-view__count">1456</span>
                                    </div>
                                </div>
                                <p>Стратегические сессии: как за несколько часов принимаются определяющие решения в четыре
                                    строки</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
</div>