<div class="section">
    <div class="content">
        <div class="container">
            <div class="content__title-box">
                <h2>Объекты в управлении</h2>
                <a href="##" class="link-more">
                    Все объекты
                    <i class="link-more__arrow">
                        <svg viewBox="0 0 8 12" fill="none">
                            <use xlink:href="/img/sprite.svg#arrow-r"></use>
                        </svg>
                    </i>
                </a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="container">
            <div class="object-list">
                <div class="object">
                    <a href="##" class="object__link">
                        <span class="object__bg"></span>
                        <div class="object__info-label">ул. Дзержинского 38, 130.5 м²</div>
                        <img class="grid-gallery__img" src="/img/root-obj.png" alt="">
                        <div class="object__info-title">Очень длинное название в две строки</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>