<div class="container">
    <div class="order-form">
        <div class="order-form__row">
            <div class="order-form__left" data-aos="fade-up" data-aos-once="true">
                <div class="order-form__title">
                    Оставьте заявку и мы
                    вам перезвоним в ближайшее время
                </div>
                <div class="consultant-info">
                    <div class="consultant-info__img">
                        <img src="/img/user.png" alt="">
                    </div>
                    <div class="consultant-info__content">
                        <div class="consultant-info__name">Константин Давыденко</div>
                        <div class="consultant-info__caption">Ваш консультант</div>
                    </div>
                </div>
            </div>
            <div class="order-form__right" data-aos="fade-up" data-aos-once="true">
                <div class="form-box order-form__form-box">
                    <form action="" class="form-box__form js-form-order">
                        <div class="form-box__item">
                            <label class="form-box__label" for="username2">Ваше имя</label>
                            <input id="username2" class="form-box__input name" type="text" name="name" placeholder="Ваше имя">
                        </div>
                        <div class="form-box__item">
                            <label class="form-box__label" for="phone2">Ваш телефон</label>
                            <input id="phone2" class="form-box__input phone" type="tel" name="phone" placeholder="Ваше телефон">
                        </div>
                        <button class="form-box__button button">
                            <span class="button__hover"></span>
                            <span class="button__text">Отправить</span>
                        </button>
                        <div class="form-box__policy">
                            Нажимая на кнопку <b>«Отправить»</b>,
                            я соглашаюсь с условиями политики <a href="##">конфиденциальности.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>