<div class="container">
    <div class="order-form">
        <div class="order-form__row">
            <div class="order-form__left" data-aos="fade-up">
                <div class="order-form__title">
                    Оставьте заявку и мы
                    вам перезвоним в ближайшее время
                </div>
                <div class="consultant-info">
                    <div class="consultant-info__img">
                        <img src="/img/user.png" alt="">
                    </div>
                    <div class="consultant-info__content">
                        <div class="consultant-info__name">Константин Давыденко</div>
                        <div class="consultant-info__caption">Ваш консультант</div>
                    </div>
                </div>
            </div>
            <div class="order-form__right" data-aos="fade-up">
                <div class="form-box order-form__form-box">
                    <form action="" class="form-box__form">
                        <div class="form-box__item">
                            <input class="form-box__input" type="text" placeholder="Ваше имя">
                        </div>
                        <div class="form-box__item">
                            <input class="form-box__input" type="text" placeholder="Ваше имя">
                        </div>
                        <button class="form-box__button button">
                            <span class="button__hover"></span>
                            <span class="button__text">Отправить</span>
                        </button>
                        <div class="form-box__policy">
                            Нажимая на кнопку <b>«Отправить»</b>,
                            я соглашаюсь с условиями политики <a href="##">конфиденциальности.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>