<div class="section content">
    <div class="container">
        <div class="to-back">
            <a href="##" class="to-back__link">
                <i class="to-back__link-arrow">
                    <svg viewBox="0 0 8 12" fill="none">
                        <use xlink:href="/img/sprite.svg#arrow-r"></use>
                    </svg>
                </i>
                Вернуться Назад
            </a>
        </div>
    </div>
    <div class="container">
        <div class="content__title-box" data-text-anim data-aos="custom">
            <h1>Название проекта</h1>
        </div>
    </div>
    <div class="project__wrapper">
        <div class="container">
            <div class="project-char" data-text-anim data-aos="custom">
                <div class="project-char__item">
                    <div class="project-char__title">20 040 кв.м</div>
                    <div class="project-char__value">жилых площадей</div>
                </div>
                <div class="project-char__item">
                    <div class="project-char__title">4 733 кв.м.</div>
                    <div class="project-char__value">коммерческие помещений</div>
                </div>
                <div class="project-char__item">
                    <div class="project-char__title">8 798 кв.м.</div>
                    <div class="project-char__value">многоуровневых парковок</div>
                </div>
            </div>
            <div class="project__img" data-aos="fade-up">
                <img src="/img/root-obj.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="content__title-box" data-text-anim data-aos="custom">
            <h2>Наша роль в проекте</h2>
        </div>
    </div>
    <div class="separator"></div>
    <div class="container">
        <div class="role-list js-role-list swiper-container">
            <div class="role-list__wrapper swiper-wrapper">
                <div class="swiper-slide role-list__item" data-aos="fade-up">
                    <div class="role-list__item-content">
                        <div class="role-list__item-icon">
                            <img src="/img/role.svg" alt="">
                        </div>
                        <div class="role-list__item-title">
                            Бизнес-план
                        </div>
                        <div class="role-list__item-text">
                            Выбор земельного участка по заданию инвестора, и составление бизнес-плана по его
                            использованию.
                        </div>
                    </div>
                </div>
                <div class="swiper-slide role-list__item" data-aos="fade-up" data-aos-delay="200">
                    <div class="role-list__item-content">
                        <div class="role-list__item-icon">
                            <img src="/img/role.svg" alt="">
                        </div>
                        <div class="role-list__item-title">
                            Бизнес-план
                        </div>
                        <div class="role-list__item-text">
                            Выбор земельного участка по заданию инвестора, и составление бизнес-плана по его
                            использованию.
                        </div>
                    </div>
                </div>
                <div class="swiper-slide role-list__item" data-aos="fade-up" data-aos-delay="400">
                    <div class="role-list__item-content">
                        <div class="role-list__item-icon">
                            <img src="/img/role.svg" alt="">
                        </div>
                        <div class="role-list__item-title">
                            Бизнес-план
                        </div>
                        <div class="role-list__item-text">
                            Выбор земельного участка по заданию инвестора, и составление бизнес-плана по его
                            использованию.
                        </div>
                    </div>
                </div>
                <div class="swiper-slide role-list__item" data-aos="fade-up" data-aos-delay="600">
                    <div class="role-list__item-content">
                        <div class="role-list__item-icon">
                            <img src="/img/role.svg" alt="">
                        </div>
                        <div class="role-list__item-title">
                            Бизнес-план
                        </div>
                        <div class="role-list__item-text">
                            Выбор земельного участка по заданию инвестора, и составление бизнес-плана по его
                            использованию.
                        </div>
                    </div>
                </div>
                <div class="swiper-slide role-list__item" data-aos="fade-up" data-aos-delay="800">
                    <div class="role-list__item-content">
                        <div class="role-list__item-icon">
                            <img src="/img/role.svg" alt="">
                        </div>
                        <div class="role-list__item-title">
                            Бизнес-план
                        </div>
                        <div class="role-list__item-text">
                            Выбор земельного участка по заданию инвестора, и составление бизнес-плана по его
                            использованию.
                        </div>
                    </div>
                </div>
                <div class="swiper-slide role-list__item" data-aos="fade-up" data-aos-delay="1000">
                    <div class="role-list__item-content">
                        <div class="role-list__item-icon">
                            <img src="/img/role.svg" alt="">
                        </div>
                        <div class="role-list__item-title">
                            Бизнес-план
                        </div>
                        <div class="role-list__item-text">
                            Выбор земельного участка по заданию инвестора, и составление бизнес-плана по его
                            использованию.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="descr-project">
    <div class="container">
        <div class="content__title-box" data-text-anim data-aos="custom">
            <h2>Описание</h2>
        </div>
        <div class="descr-project__row" data-aos="fade-up">
            <div class="descr-project__media">
                <div class="descr-project__media-imgs">
                    <div class="swiper-container js-descr-project">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img src="/img/descr.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/descr.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/descr.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="descr-project__content">
                <div class="descr-project__text">
                    это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века.
                </div>
                <div class="descr-project__info">
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d1.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            3 многоквартирных дома
                        </span>
                    </div>
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d2.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            17-ти этажные здания
                        </span>
                    </div>
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d3.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            5-ти уровневые паркинги
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="descr-project__row descr-project__row--invers" data-aos="fade-up">
            <div class="descr-project__media">
                <div class="descr-project__media-imgs">
                    <div class="swiper-container js-descr-project">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <img src="/img/descr2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/descr.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/descr2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                </div>
            </div>
            <div class="descr-project__content">
                <div class="descr-project__text">
                    это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века.
                </div>
                <div class="descr-project__info">
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d4.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                           Закрытая территория комплекса
                        </span>
                    </div>
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d5.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            Стилобат с нежилыми помещениями
                        </span>
                    </div>
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d6.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            Эксплуатируемая кровля первых этажей
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="descr-project__row" data-aos="fade-up">
            <div class="descr-project__media">
                <div class="descr-project__media-imgs">
                    <img src="/img/descr3.png" alt="">
                </div>
            </div>
            <div class="descr-project__content">
                <div class="descr-project__text">
                    это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века.
                </div>
                <div class="descr-project__info">
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d7.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            Современные планировки евроформата
                        </span>
                    </div>
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d8.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            Насыщенная внутридворовая территория
                        </span>
                    </div>
                    <div class="descr-project__info-item">
                        <i class="descr-project__item-icon">
                            <img src="/img/pr-d9.svg" alt="">
                        </i>
                        <span class="descr-project__info-item-text">
                            Квартиры со своими терассами
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content__title-box" data-text-anim data-aos="custom">
        <h2>Схема генплана</h2>
    </div>
    <div class="map" data-aos="fade-up">
        <img src="/img/schema.png" alt="">
    </div>
</div>
<div class="separator separator--indent"></div>
@include('order-form.html')
<div class="separator separator--indent"></div>