<div class="section services-box dark-box">
    <div class="content">
        <div class="container">
            <div class="content__title-box">
                <h2 data-text-anim data-aos="custom" data-aos-once="true">Наши проекты</h2>
                <a href="##" class="link-more" data-text-anim data-aos="custom" data-aos-once="true">
                    Все<span class="link-more__hide-mob"> объекты</span>
                    <i class="link-more__arrow">
                        <svg viewBox="0 0 8 12" fill="none">
                            <use xlink:href="/img/sprite.svg#arrow-r"></use>
                        </svg>
                    </i>
                </a>
            </div>
            <div class="grid-gallery">
                <div class="grid-gallery__wrapper">
                    <div class="grid-gallery__left">
                        <a href="##" class="object" data-aos="fade-up" data-aos-once="true">
                            <span class="object__bg"></span>
                            <div class="object__info-label">ул. Дзержинского 38, 130.5 м²</div>
                            <div class="grid-gallery__img-wrapper">
                                <img class="grid-gallery__img" src="/img/our-pr-big.png" alt="">
                            </div>
                            <div class="object__info-title">Название проекта</div>
                        </a>
                    </div>
                    <div class="grid-gallery__right">
                        <a href="##" class="grid-gallery__item object" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
                            <span class="object__bg"></span>
                            <img class="grid-gallery__img" src="/img/our-pr-big.png" alt="">
                            <div class="object__info-title">Название проекта</div>
                        </a>
                        <a href="##" class="grid-gallery__item object" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
                            <span class="object__bg"></span>
                            <img class="grid-gallery__img" src="/img/our-pr-big.png" alt="">
                            <div class="object__info-title">Название проекта</div>
                        </a>
                    </div>
                </div>
                <div class="grid-gallery__slider">
                    <a href="##" class="grid-gallery__item object" data-aos="fade-up" data-aos-once="true">
                        <span class="object__bg"></span>
                        <div class="object__info-label">ул. Дзержинского 38, 130.5 м²</div>
                        <div class="grid-gallery__img-wrapper">
                            <img class="grid-gallery__img" src="/img/our-pr-big.png" alt="">
                        </div>
                        <div class="object__info-title">Очень длинное название в две строки</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>