<div class="root-banner dark-box">
    <!-- Slider main container -->
    <div class="root-banner__no-slider">
        <div class="container">
            <div class="root-banner__item-caption">
                Консалтинг в недвижимости
            </div>
            <div class="root-banner__item-title">
                Заработок на недвижимости. Бизнес-проекты.
            </div>
        </div>
    </div>
    <div class="swiper-container js-root-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide root-banner__item">
                <div class="container">
                    <div class="root-banner__item-content">
                        <a href="##" class="root-banner__item-button">Инвестиции</a>
                    </div>
                </div>
                <div class="root-banner__item-img">
                    <img src="/img/bg-top-banner.png" alt="">
                </div>
            </div>
            <div class="swiper-slide root-banner__item">
                <div class="container">
                    <div class="root-banner__item-content">
                        <a href="##" class="root-banner__item-button">Инвестиции 2</a>
                    </div>
                </div>
                <div class="root-banner__item-img">
                    <img src="/img/bg-top-banner.png" alt="">
                </div>
            </div>
            <div class="swiper-slide root-banner__item">
                <div class="container">
                    <div class="root-banner__item-content">
                        <a href="##" class="root-banner__item-button">Инвестиции 3</a>
                    </div>
                </div>
                <div class="root-banner__item-img">
                    <img src="/img/bg-top-banner.png" alt="">
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="container">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>