<div class="section services-box">
    <div class="content">
        <div class="container">
            <div class="content__title-box">
                <h2 data-text-anim data-aos="custom" data-aos-once="true">Наши услуги</h2>
                <a href="##" class="link-more hide-lg" data-text-anim data-aos="custom" data-aos-once="true">
                    Все<span class="link-more__hide-mob"> услуги</span>
                    <i class="link-more__arrow">
                        <svg viewBox="0 0 8 12" fill="none">
                            <use xlink:href="/img/sprite.svg#arrow-r"></use>
                        </svg>
                    </i>
                </a>
            </div>
            @include('accordion.html')
        </div>
    </div>
</div>