<div class="steps-list">
    <div class="steps-list__title" data-text-anim data-aos="custom" data-aos-once="true">
        Наши специалисты:
    </div>

    <div class="steps-list__row">
        <div class="steps-list__item" data-aos="fade-up" data-aos-once="true">
            <div class="steps-list__item-content">
                <div class="steps-list__count">1 шаг</div>
                <div class="steps-list__text">
                    Составят грамотную стратегию инвестирования
                    в любой сегмент рынка недвижимости.
                </div>
            </div>
        </div>
        <div class="steps-list__item" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
            <div class="steps-list__item-content">
                <div class="steps-list__count">2 шаг</div>
                <div class="steps-list__text">
                    Подберут для приобретения правильный объект недвижимости с наименьшими рисками.
                </div>
            </div>
        </div>
        <div class="steps-list__item" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
            <div class="steps-list__item-content">
                <div class="steps-list__count">3 шаг</div>
                <div class="steps-list__text">
                    Проведут переговоры и сопроводят все этапы вложения средств.
                </div>
            </div>
        </div>
        <div class="steps-list__item" data-aos="fade-up" data-aos-delay="600" data-aos-once="true">
            <div class="steps-list__item-content">
                <div class="steps-list__count">4 шаг</div>
                <div class="steps-list__text">
                    Осуществят финансовую, информационную, юридическую и техническую поддержку.
                </div>
            </div>
        </div>
        <div class="steps-list__item" data-aos="fade-up" data-aos-delay="800" data-aos-once="true">
            <div class="steps-list__item-content">
                <div class="steps-list__count">5 шаг</div>
                <div class="steps-list__text">
                    Помогут с финансированием вашего инвестиционного проекта или стартапа.
                </div>
            </div>
        </div>
    </div>
</div>